
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/product">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/home/contact">Contact</a>
            </li>
        </ul>
    </nav>
    @{
        string studentResult;
        if (ViewBag.Marks >= 35)
        {
            studentResult = "Pass";
        }
        else
        {
            studentResult = "Fail";
        }
    }
    <div class="container-fluid">
        <table class="table">
            <tr>
                <td>Student Id</td>
                <td>@ViewBag.StudentId</td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td>@ViewBag.StudentName</td>
            </tr>
            <tr>
                <td>Student Marks</td>
                <td>@ViewBag.Marks</td>
            </tr>
            <tr>
                <td>Student Result</td>
                <td>@studentResult</td>
            </tr>
            @*Razor if Statement Block start here*@
            <tr>
                <td colspan="2">
                    @if (studentResult == "Pass")
                    {
                        <span class="text-success">Congratulations</span>
                    }
                    else
                    {
                        <span class="text-danger">Better luck Next Time</span>
                    }
                </td>
            </tr>
            @*Razor if Statement Block end here*@

            @*Razor for Statement Block start here*@
            <tr>
                <td>Semesters</td>
                <td>
                    <ul>
                        @for (int i = 1; i <= ViewBag.NoOfSemester; i++)
                        {
                            <li>@i</li>
                        }
                    </ul>

                </td>
            </tr>
            @*Razor for Statement Block end here*@

            @*Razor foreach Statement Block start here*@
            <tr>
                <td>Subject</td>
                <td>
                    <ul>
                        @foreach (var subject in ViewBag.Subject)
                        {
                            <li>@subject</li>
                        }
                    </ul>

                </td>
            </tr>
            @*Razor foreach Statement Block end here*@
        </table>
    </div>
</body>
</html>
